.backdrop-layer{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 101vh;
    
    background-color: transparent;
}

.section-two{
    position: absolute;
    padding: 30px;
    height: 83vh;
    width: 78vw;
    top: 11vh;
    left: 21vw;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
    border-radius: 20px;
    background-image: url("/space.jpg");
    background-size: 100%;
    background-repeat: cover;
    color: white;
    font-size: medium;
    font-weight: bold;
    text-align: justify;
    text-shadow: 2px 2px 5px black;
}

.empty-space{
    position: absolute;
    display: flex;
    width: 78vw;
    height: 16vh;
    left: 21vw;
    bottom: 90vh;
    border-radius: 10px;
    background-color: black;
}

@media screen and (max-width: 875px) {
    .section-two {
        top: 16vh;
        height: 78vh;
        overflow: scroll;
        padding: 15px;
    }

    .empty-space{
        height: 21vh;
        bottom: 85vh;
    }
}