.Button-comp{
    height: 5vh;
    font-size: 12px;
    font-weight: bolder;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 0 30px;
    background-color:rgb(43, 42, 42);
    color: white;
}

.Button-comp:hover{
    color: black;
    background-color: beige;
    border: 1px solid beige;
}