.Button-comp{
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid rgb(192, 187, 187);
    border-radius: 20px;
    padding: 0 30px;
    background-color:rgb(43, 42, 42);
    color: white;
}

.Button-comp:hover{
    color: black;
    background-color: beige;
}