.Button-comp{
    height: 5vh;
    font-size: 14px;
    font-weight: bolder;
    border: none;
    border-radius: 20px;
    padding: 0 30px;
    background-color:black;
    text-decoration: none;
    color: white;
}

.button-link{
    text-decoration: none;
    color: white;
}

.Button-comp:hover{
    color: black;
    background-color: beige;
}

.button-link:hover{
    color: black;
    background-color: beige;
}