.home-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
}

.home-icon:hover {
    width: 80px;
    height: 40px;
}