.footer{
    position: fixed;
    bottom: 1vh;
    width: 98vw;
    height: 5vh;
    left: 1vw;
    background-color: black;
    border-radius: 10px;
}

.tribute{
    width: 200px;
    height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    font-size: 15px;
    font-weight: 500;
    color: #e2e2e2;
    line-height: 50px;
    z-index: 20;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}