.Title-comp {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bolder;
    padding-right: 2.5vw;
}