.section-one {
    position: absolute;
    padding: 30px;
    height: 83vh;
    width: 78vw;
    top: 11vh;
    left: 21vw;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
    border-radius: 10px;
    background-image: url("/space.jpg");
    background-size: 100%;
    background-repeat: cover;
    color: white;
    font-size: medium;
    font-weight: bold;
    text-align: justify;
    text-shadow: 2px 2px 5px black;
}

.the-astronaut{
    display: flex;
    float: right;
    align-items: baseline;
    z-index: 2;
}


@media screen and (max-width: 875px) {
    .section-one {
        top: 16vh;
        height: 78vh;
        overflow: scroll;
        padding: 15px;
    }

    .the-astronaut{
        float: left;
        height: 200px;
        width: 200px;
    }

}