.Link-comp {
    height: 100%;
    min-width: 100px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Link-comp:hover {
    height: 20vh;
    width: 20vw;
    background-color: beige;
    color: black;
    text-decoration: underline;
}