.Link-comp {
    height: 5vh;
    width: 130%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Link-comp:hover {
    background-color: transparent;
    color: black;
    text-decoration: underline;
    font-size: 20px;
}