.header-comp {
    position: fixed;
    height: 10vh;
    width: 100%;
    padding: 0 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1b0bfa;
    background-image: linear-gradient(to bottom right, #1509b6, rgb(37, 233, 240));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-left {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

li {
    display: inline;
}
@media screen and (max-width: 875px) {
    .header-comp {
        flex-direction: column;
        height: 25vh;
        padding: 20px;
    }

    .header-left{
        align-items: center;
        justify-content: space-between;
    }

    .header-right{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    li {
        display: inline;
        align-items: center;
        justify-content: space-between;
    }
}