.header-comp {
    position: fixed;
    height: 10vh;
    width: 98vw;
    left: 1vw;
    top: 1vh;
    padding: 0 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1b0bfa;
    background-image: linear-gradient(to bottom right, #1509b6, rgb(37, 233, 240));
    border-radius: 20px;
}

.header-left {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

@media screen and (max-width: 875px) {
    .header-comp {
        flex-direction: column;
        height: 25vh;
        padding: 20px;
    }

    .header-left{
        align-items: center;
        justify-content: space-between;
    }

    .header-right{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}